.hero-about {
    height: 225px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 50px 50px 50px;
}

.hero-about-img {
    height: 100%;
    width: 100%;
    border-radius: 25px;
    background: url("../../assets/images/hero-about.jpg");
    background-position: 50% 44%;
    background-repeat: no-repeat;
    background-size: cover
}