:root {
  font-family: "Montserrat", sans-serif;
}

html {
  font-size: 62.5%;
}


body {
  font-size: 16px; /* px fallback */
  font-size: 1.6rem; /* default font-size for document */
  padding: 0;
  margin: 0;
}

a {
  color: #ff6060;
}

a:visited {
  color: #ff6060;
}
